.body-playlist {
    display: flexbox;
    flex: 0.8;
    color: white;
    padding: 40px;
    overflow: auto;
  }


.user-playlists-container {
    max-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}