.playlists-body {
  display: flexbox;
  flex: 0.8;
  color: white;
  padding: 40px;
  overflow: auto;
}

.playlists-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}