.top-artists {
 
    color: white;
    padding: 2vh;
    justify-content: center;
    margin:auto;
    
}

.top-artists-container {
    
    max-height: 90vh;
    display: grid;
  grid-template-columns: repeat(6, 1fr);
    align-items: center;

}