.body {
    display: flexbox;
    flex: 0.8;
    color: white;
    padding: 40px;
    overflow: hidden;

}

.top-artists-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

h2 {
    width: 100%;
}