
.top-artists {
 
    color: white;
    padding: 2vh;
    justify-content: center;
    margin:auto;
    
}

.top-artists-container {
    
    max-height: 90vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

}