.horizontalbox{
    width: 270px;
    height: 70px;
    display: flex;
    flex-direction: row;
    background-color:  #1E1E1E;
    box-shadow: 0px 0px 0px #01471a;
    border-radius: 10px;
    margin: 1vw;
    overflow: hidden;
    align-items: center;
}

.horizontalbox img{
    top: 0;
    left: 0;
    height: 70px;
    width: 70px;
}
.horizontalbox h3{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: whitesmoke;
    padding: 10px;
}

.selected {
    box-shadow: 0px 5px 5px #01471a;
}