.sidebar {
    position: "sticky";
    min-height: 100vh;
    flex: 0.2;
    color: white;
    padding: 0 10px;
    min-width: 250px;
    background-color: #040404;

}

.sidebar-avatar {
    object-fit: contain;
    height: 200px;
    width: 100%;
    margin-top: 100px;
    padding-bottom: 40px;
}